#catalogo{
    background: url(../img/Catalogo/beer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;


}
#Busqueda{
    width: 100%;
    background-color: transparent;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-top: 1px;
    margin-right: -31px;
    margin-left: 0px;
    background-color: rgba(0,0,0,0.6);
    font-weight: 600;
}
#Busqueda::placeholder{
    color: white;
    font-weight: 600;
}
#Btn_buscar label{
    cursor: pointer;
}

#view-catalogo button{
    background-color: transparent;
    border-left: none !important;
    border-right: none !important;
    margin-top: 0px;
    border-bottom: none;
    border-top: none;
    border-radius: 20px;
    text-align: center;
}
.item{
    border: 1px solid white;
    height: 150px;
    margin-left:15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.item img{
width: 100px;
margin-bottom: 0px;   
}
#Finalizar{
    text-align: center;
    padding-top: 11px;
    color:white;
}
#btn_return{
    margin-top: 6px !important;
}
.item p{
    margin-bottom: 0px;
    font-size:20px; 
    color: White;
}
#Total{
    margin-left: 15px;
    margin-bottom: 0px;
}
#precio_total{
    margin-left: 15px;
}
#todo_ese_pedo{
    padding: 15px;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 2px solid white;
    background-color: rgba(0,0,0,0.6)
}

#item_cat{
    animation-duration: .2s;
}

.itemmarcas{
    border: 1px solid white;
    height: 105px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.producto{
    border: 1px solid white;
    height: 105px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

#cat_marcas{
    padding: 15px;
    text-align: center;
    margin-top: 23px;
    display: none;
    animation-duration: .2s;
}
#cat_productos{
    padding: 15px;
    text-align: center;
    margin-top: 23px;
    display: none;
    animation-duration: .2s;

}

@media(min-width:720px){
    .item{
        height: 250px;
        padding: 60px;
    }
}