body{
    background: url(../img/Catalogo/beer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
#Busqueda{
    width: 100%;
    background-color: transparent;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-top: 1px;
    margin-right: -31px;
    margin-left: 0px;
    background-color: rgba(0,0,0,0.6)
}

#view-catalogo button{
    background-color: transparent;
    border-left: none !important;
    border-right: none !important;
    margin-top: 0px;
    border-bottom: none;
    border-top: none;
    border-radius: 20px;
    text-align: center;
}
#Finalizar{
    text-align: center;
    padding-top: 11px;
    color:white;
}
#btn_return{
    margin-top: 6px !important;
}
#item{
    border: 1px solid white;
    height: 105px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 30
}
#itemControl{
    padding: 15px;
    text-align: center;
    margin-top: 23px;
}
#masmenos{
    border-radius: 100px;
    color:white;
    background-color: rgba(0,0,0,0.6);
}
#bto_masmenos{
    margin-left: 10px;
    padding: 5px;
}
#todo_ese_pedo{
    padding: 15px;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 2px solid white;
    background-color: rgba(0,0,0,0.6)
}