@import url(../css/login.css);
@import url(../css/Catalogo.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(../css/admin.css);
@import url(../css/finalizar_pedido.css);

body{
    background: url(../img/Login/login-wallpaper2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.border{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
}