@import url(../css/login.css);
@import url(../css/Catalogo.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(../css/admin.css);
@import url(../css/finalizar_pedido.css);

body{
    background: url(../img/Login/login-wallpaper2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.border{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    
}