h1{
    text-align: center;

}


h2 
{
    text-decoration-line: underline;
}


.input-form{
    width: 100%;
    height: 35px;
    color: #383838 !important;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #383838 !important;;
    padding: 20px 10px;
    margin-top: 10px;
    font-weight: 600;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.input-form:focus{
    
    outline-width: 0;
    border-bottom: 2px solid  skyblue!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


#ticket-form input::placeholder{
    color: #383838;
    font-weight: 600;

}

#ticket{
    overflow: auto;
    margin: 30 auto;
    width: 100%;
    padding: 0px;
   
  
}
#costo-envio{
    margin-top: 30px;
   border: 1px solid #383838;
}
#ticket h6{
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}
#ticket h1{
    color: #383838;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 2px dotted black;
    font-size: 32px;
}

.row{
    border-color: white;
}

#div_ticket{
    background-color: white;
    margin: 7px;
    
    border-radius: 10px;
    height: 670px;
}
#btnAccept{
    font-size: 30px;
    padding-bottom: 0px;
    
}
#btnAccept:hover {
   color: forestgreen;
}

button{
    background-color: transparent;
    cursor: pointer;
}

#btnBack{
    font-size: 28;
    
    
}

#btnBack:hover {
   color: white;
}


#containerNav{

    background-color: transparent;
}
#ticket_summary{
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px;
}
#totals p{
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: darkgreen;
    margin-top: -30px;
    
}
#btn_order{
    width: 100%;
    height: 60px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
     -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
#btn_order:hover{
    background-color: forestgreen;
}
#ticket_content{
    overflow-x: hidden;
    overflow-y: auto;
    height: 120px;
   
}
#costo-envio{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
  
}
#costo-envio p{
    margin-bottom: 0px;
   
}

#costo-envio p #costo_envio{
    color: forestgreen;
}
